.healthy-section {
  background: linear-gradient(to right, #0cbaba, rgb(155, 207, 199));
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

.healthy-title {
  font-size: 36px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.healthy-subtitle {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-bottom: 40px;
}

.healthy-cards {
  display: flex;
  justify-content: center; /* Afron kartat në qendër */
  gap: 15px; /* Ulet hapësira mes kartave */
  flex-wrap: wrap;
}

.healthy-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 0 10px; /* Hapësirë mes kartave në të dy anët */
}

.healthy-card:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.healthy-card h3 {
  font-size: 22px;
  margin-top: 10px;
}

.healthy-card p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.healthy-icon {
  font-size: 50px;
  color: #218838;
}

.healthy-card.highlighted {
  background-color: #e0ffe0;
}

.healthy-card.highlighted .healthy-icon {
  color: #ff5733;
}
